
#img{
	height:40%;
	margin-top:20% ;
	margin-bottom: 20%;
	text-align: center;
}
.mui-table-view{
	 font-size: 15px;
	 height:100%
}
.mui-table-view-cell{
	line-height: 250%;
}
#sec li{
	
	list-style: none;
}
#seco li{
	list-style:none;
}